<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d0bf81c3-dc70-4127-a434-b8ddcd202f3b/resourcegroups/ThiagoStore/providers/Microsoft.Web/sites/ThiagoStoreDM106</ResourceId>
    <ResourceGroup>ThiagoStore</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thiagostoredm106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thiagostoredm106.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ThiagoStoreDM106</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ThiagoStoreDM106</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:thiagostoredm106dbserver.database.windows.net,1433;Initial Catalog=ThiagoStoreDM106_db;User ID=upadmin@thiagostoredm106dbserver;Password=Up_Admin1234" Name="Data Source=tcp:thiagostoredm106dbserver.database.windows.net,1433;Initial Catalog=ThiagoStoreDM106_db;User Id=upadmin@thiagostoredm106dbserver;Password=Up_Admin1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ThiagoStore.Models.ApplicationDbContext, ThiagoStore" MigrationConfiguration="ThiagoStore.Migrations.Configuration, ThiagoStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:thiagostoredm106dbserver.database.windows.net,1433;Initial Catalog=ThiagoStoreDM106_db;User Id=upadmin@thiagostoredm106dbserver;Password=Up_Admin1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>